In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_path = Path('budget_data.csv')

In [3]:
budget_csv = pd.read_csv(file_path)

In [4]:
# Just looking at the how the data given is setup
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
date_count = budget_csv['Date'].count()
date_count

86

In [6]:
total_sum = budget_csv['Profit/Losses'].sum()
total_sum

38382578

In [7]:
# I make the data easier to manipulate by making the date the index.
# Not sure if this was necessary, but it was originally done trying to solve the problems another way.
# I kept it because I figured out the answers with this format, and I've heard that "if it works, don't touch it."
budget_csv.set_index(pd.to_datetime(budget_csv['Date'], infer_datetime_format=True), inplace=True)
budget_csv.drop(columns=['Date'], inplace=True)

In [8]:
budget_csv.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [9]:
#I make x my data table with the 'Profit/Losses' column now being the differences between them
x = budget_csv['Profit/Losses'].diff()
x

Date
2010-01-01         NaN
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [10]:
increase = x.max()
increase

1926159.0

In [11]:
least = x.min()
least

-2196167.0

In [12]:
sume = x.sum()
sume

-196785.0

In [13]:
div = x.count()
result = round(sume / div, 2)
result

-2315.12

In [14]:
#Final Answer:
with open('readme1.txt', 'x') as f:
    f.write(f'Financial Analysis\n'
            f'----------------------------\n'
            f"Total Months: {date_count}\n"
            f"Total: ${total_sum}\n"
            f"Average Change: ${result}\n"
            f"Greatest Increase in Profits: Feb-2012 (${increase})\n"
            f"Greatest Decrease in Profits: Sep-2013 (${least})")